[submodule "external/fortune"]
	path = external/fortune
    url = https://github.com/CrashVibe/fortune.git
[submodule "external/coin"]
	path = external/coin
    url = https://github.com/CrashVibe/coin.git
[submodule "external/cave"]
	path = external/cave
    url = https://github.com/CrashVibe/cave.git
[submodule "external/ddcheck"]
	path = external/ddcheck
	url = https://github.com/CrashVibe/ddcheck.git
[submodule "external/html-render"]
	path = external/html-render
	url = https://github.com/wling-art/html-render.git
[submodule "external/sleep"]
	path = external/sleep
	url = https://github.com/CrashVibe/sleep
[submodule "external/heweather"]
	path = external/heweather
	url = https://github.com/CrashVibe/heweather
[submodule "external/tarot"]
	path = external/tarot
	url = https://github.com/CrashVibe/tarot
[submodule "external/today-history"]
	path = external/today-history
	url = https://github.com/CrashVibe/today-history
[submodule "external/ncm-saying"]
	path = external/ncm-saying
	url = https://github.com/CrashVibe/ncm-saying
[submodule "external/fishing"]
	path = external/fishing
	url = https://github.com/CrashVibe/fishing
